.room {
    display: block;
    width: calc(100% - 21vw);
    height: 80vh;
    overflow: hidden;
    border-radius: 1%;
    

    &__chat{
        position: absolute;
        height: 100%;
        width: 25vw;
        bottom: 0;
        right: 0;
    }
}

.chat{
    background-color: white;
    padding-top: 120px;
}

