@import './null';
@import './variables';

body {
    background-color: $black;

    .content{
        max-width: 1200px;
        margin: 0 auto;
    }
}

.wrapper {
    background-color: inherit;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}